:root {
  --fff: #fff;
  --1e2: #1E2246;
  --c2c: #C2C5E2;
  --fb8: #FB896B;
  --fb6: #FB6B6B;
  --f1a: #F1A864;
  --fbd: #FBD36B;
  --485: #485258;
  --f27: #F27251;
}
*, html {
  margin: 0;
  box-sizing: border-box;
}
main {
  padding-top: 40px;
  padding-bottom: 40px;
}
main > div {
  padding: 0 24px;
  max-width: 1440px;
  margin: 0 auto;
}
a {
  display: block;
  text-decoration: none;
  color: var(--1e2);
}
ul {
  padding: 0;
  list-style: none;
}

.button {
  transition: all 0.3s;
}
.ui-1-16-22 .c-header__title {
  font-family: 'Merriweather', serif;
  font-size: 28px;
  line-height: 40px;
  margin: 0 0 36px;
}
.ui-1-16-22 .c-card-grid {
  font-family: 'Poppins', sans-serif;
  max-width: 1054px;
  margin: 0 auto 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
.ui-1-16-22 .c-card-grid__job {
  padding: 24px 20px;
  background: var(--fff);
  box-shadow: 0px 24px 44px rgba(180, 191, 225, 0.4);
  border-radius: 16px;
}
.ui-1-16-22 .c-card-grid__top {
  margin: 0 0 24px;
}
.ui-1-16-22 .c-card-grid__job-department {
  padding: 0 0 0 16px;
}
.ui-1-16-22 .cta .button {
  background: var(--fff);
  border: 1px solid var(--c2c);
  border-radius: 8px;
  padding: 16px 25px;
}
.ui-1-16-22 .cta .button:hover {
  background: var(--1e2);
  color: var(--fff)
}
.ui-1-16-22 .c-wysiwyg {
  max-width: 845px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
}
/* Utilities */
.u-ta-c {
  text-align: center;
}
.u-ta-l {
  text-align: left;
}
.u-ta-r {
  text-align: right;
}
.u-df {
  display: flex;
}
.u-fd-c {
  display: flex;
  flex-direction: column;
}
.u-jc-c {
  justify-content: center;
}
.u-jc-se {
  justify-content: space-evenly;
}
.u-ai-c {
  align-items: center;
}
.u-grid {
  display: grid;
}

.ui-1-18-22 .u-grid.footer {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
  font-family: 'Poppins', sans-serif;
}
.ui-1-18-22 .footer .wrapper {
  padding: 24px;
}
.ui-1-18-22 .footer .wrapper h4 {
  font-size: 24px;
  font-weight: 600;
}
.ui-1-18-22 .footer .wrapper a, 
.ui-1-18-22 .footer .wrapper h4,
.ui-1-18-22 .footer .wrapper p { color: var(--fff) }
.ui-1-18-22 .footer .wrapper.search { 
  background-color: var(--fb8);
  border-radius: 20px 20px 0 0;
}
.ui-1-18-22 .c-logo-title {
  margin: 0 0 16px;
}
.ui-1-18-22 .c-logo-title svg {
  margin-right: 9px;
}
.ui-1-18-22 .footer .wrapper .nav .nav__link {
  padding: 10px;
  font-weight: 500;
} 
.ui-1-18-22 .footer .wrapper .nav .nav__link:hover {
  background-color: var(--f27);
} 
.ui-1-18-22 .footer .wrapper.cro { 
  background-color: var(--fb6);
}
.ui-1-18-22 .footer .wrapper.soc-med { background-color: var(--f1a) }
.ui-1-18-22 .footer .wrapper.other { 
  background-color: var(--fbd); 
}
.ui-1-18-22 .footer .wrapper.other .c-logo-title h4,
.ui-1-18-22 .footer .wrapper.other .nav .nav__link a {
  color: var(--485);
} 
.ui-1-18-22 .footer .wrapper.booking { 
  background-color: var(--485);
  border-radius: 0 0 20px 20px;
  max-width: 100%;
}
.ui-1-18-22 .footer .wrapper.booking > div {
  max-width: 408px;
}
.ui-1-18-22 .footer .wrapper.booking div > p {
  margin: 0 0 32px;
}
.ui-1-18-22 .footer .wrapper .cta .button {
  padding: 16px;
  color: var(--485);
  width: 100%;
  max-width: max-content;
  background-color: var(--fff);
}
.ui-1-18-22 .footer .wrapper .cta .button:hover {
  background-color: var(--485);
  color: var(--fff);
  border: 1px solid var(--fff);
}

/* Media Queries */
@media only screen and (min-width: 548px) {
  .ui-1-18-22 .footer .wrapper {
    max-width: 439px;
  }
  .ui-1-18-22 .footer .wrapper.search {
    border-radius: 20px 0 0 0;
  }
  .ui-1-18-22 .footer .wrapper.cro { 
    border-radius: 0 20px 0 0;
  }
  .ui-1-18-22 .footer .wrapper.booking { 
    grid-column: span 2;
  }
}
@media only screen and (min-width: 768px) {
  main > div {
    padding: 0 80px;
  }
  .ui-1-16-22 .c-card-grid {
    margin: 0 auto 61px;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
  .ui-1-16-22 .c-header .c-header__title {
    font-size: 32px;
    margin: 0 0 72px;
  }
  .ui-1-16-22 .c-card-grid__job {
    padding: 48px 40px;
  }
  .ui-1-16-22 .c-card-grid__top {
    margin: 0 0 32px;
  }
  .ui-1-16-22 .cta .button {
    padding: 16px 50px;
  }
  .ui-1-18-22 .footer .wrapper {
    padding: 72px 43px;
  }
}
@media only screen and (min-width: 920px) {
  .ui-1-18-22 .u-grid.footer {
    grid-template-columns: repeat(3, minmax(250px, 1fr) );
  }
  .ui-1-18-22 .footer .wrapper.soc-med { 
    border-radius: 0 20px 0 0;
  }
  .ui-1-18-22 .footer .wrapper.cro {
    border-radius: 0;
  }
  .ui-1-18-22 .footer .wrapper.other {
    border-radius: 0 0 0 20px;
  }
  .ui-1-18-22 .footer .wrapper.booking { 
    border-radius: 0 0 20px 0;
  }
}
